<div class="welcome">
	<h1>Seja Bem-vindo ao GFP</h1>
	<p>O gerenciador simples que faltava para controlar suas contas.</p>
</div>

<div class="row sign-in">
	<div class="span4">
		<%= simple_form_for @session, :html => { :class => "well span3" } do |f| %>		
			<legend>Informe suas credenciais</legend>
			<%= f.input :login_name, :placeholder => "Nome de usuário ou e-mail", :label => false, :input_html => { :class => "span3" } %>	
			<%= f.input :password, :placeholder => "Senha", :label => false, :input_html => { :class => "span3", :value => @session.password } %>
			<%= f.input :remember_me, :as => :boolean, :label => false, :inline_label => "Lembrar minhas informações" %>
			<%= f.submit "Login", :class => "btn btn-primary" %>
			<br><br>
			<%= link_to "Esqueceu sua senha?", password_reset_new_path %>					
		<% end %>
	</div>

	<span class="span1"/>
	<span class="span1"/>

	<div class="span5 sign-up">
		<legend>Ainda não tem uma conta? Veja as vantagens</legend>
		<ul>
			<li class="icon-ok-sign">Acesse de qualquer lugar</li>
			<li class="icon-ok-sign">Controle suas contas-correntes, cartões de crédito e cheques</li>
			<li class="icon-ok-sign">Totalmente gratuito</li>
		</ul>
		<div>
			<h6>Tá esperando o que?</h6>
			<%= button_to "Crie sua conta agora mesmo", new_usuario_path, :method => "get", :class => "btn btn-success" %>			
		</div>		
	</div>
</div>