<h1>Informe suas credenciais</h1>

<%= form_for @session do |f| %>
	<%= f.text_field :login_name, :placeholder => "Nome de usuário ou e-mail" %>
	<%= f.password_field :password, :value => @session.password, :placeholder => "Senha" %>
	<%= f.check_box :remember_me %> Lembrar minhas informações
	<%= f.submit "Login" %>
<% end %>

<%= link_to "Esqueceu sua senha?", password_reset_new_path %>

<div>
	<h4>Ainda não é usuário?</h4>
	<h5>Você pode utilizar os recursos do GFP para controlar suas receitas e despesas de forma segura e totalmente de graça. Tá esperando o que?</h5>
	<%= button_to "Crie sua conta agora mesmo", new_usuario_path, :method => "get" %>	
</div>