<div class="welcome">
	<h1>Seja Bem-vindo ao GFP</h1>
	<p>O gerenciador simples que faltava para controlar suas contas.</p>
</div>

<div class="row sign-in">
	<div class="span4">
		<%= form_for @session, :html => { :class => "well" } do |f| %>		
			<fieldset>
				<legend>Informe suas credenciais</legend>

				<div class="control-group required"> 
					<%= f.text_field :login_name, :placeholder => "Nome de usuário ou e-mail", :class => "span3" %>
				</div>

				<div class="control-group">
					<%= f.password_field :password, :value => @session.password, :placeholder => "Senha", :class => "span3" %>
				</div>

				<div class="control-group">
					<%= f.check_box :remember_me %> Lembrar minhas informações
					<%= f.submit "Login", :class => "btn btn-primary" %>
				</div>

				<div class="control-group">
					<%= link_to "Esqueceu sua senha?", password_reset_new_path %>					
				</div>
			</fieldset>
		<% end %>
	</div>

	<span class="span1"/>
	<span class="span1"/>

	<div class="span5 sign-up">
		<legend>Ainda não tem uma conta? Veja as vantagens</legend>
		<ul>
			<li class="icon-ok-sign">Acesse de qualquer lugar</li>
			<li class="icon-ok-sign">Controle suas contas-correntes, cartões de crédito e cheques</li>
			<li class="icon-ok-sign">Totalmente gratuito</li>
		</ul>
		<div>
			<h6>Tá esperando o que?</h6>
			<%= button_to "Crie sua conta agora mesmo", new_usuario_path, :method => "get", :class => "btn btn-success" %>			
		</div>		
	</div>
</div>