<div class="row usuarios-container">
	<div class="span4 offset4">
		<%= simple_form_for @usuario, html: { class: "well span3" } do |f| %>
			<legend>Meu Perfil</legend>
			<img class="form-icon" src="/images/user.png"/>
			<%= f.input :nome, input_html: { class: "span3" } %>
			<%= f.input :nome_login, label: "Nome de Usuário", disabled: !@usuario.id.nil?, input_html: { class: "span3" } %>
			<%= f.input :email, label: "E-mail", disabled: !@usuario.id.nil?, input_html: { class: "span3" } %>
			<%= f.input :password, label: "Senha", input_html: { class: "span3" } %>
			<%= f.input :password_confirmation, label: "Confirmação", input_html: { class: "span3" } %>
			<% if @usuario.id.nil? %>
				<%= f.submit "Criar minha conta", class: "btn btn-success btn-large" %>
			<% else%>
				<%= f.submit "Gravar", class: "btn btn-primary" %>
				ou
				<%= link_to "Cancelar", root_path %>
				<br><br>		
				<%= link_to " Excluir Perfil", profile_delete_path, rel: "popover", title: "Excluir perfil", "data-content" => "Clique aqui para cancelar sua conta do GFP e apagar todos os seus dados", class: "icon-trash", confirm: "Deseja realmente excluir seu perfil do GFP?" %>
			<% end %>
		<% end %>
	</div>
</div>