<!DOCTYPE html>
<html>
	<head>
	  <title>GFP - Gerente Financeiro Pessoal</title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	</head>

	<body>
		<div class="container top">
			<div><img src="/images/logo.png"/></div>
			<div>
				<h1>GFP</h1>
				<p class="lead">Gerente Financeiro Pessoal</p>
			</div>
			
			<% if session[:user] %>
				<div class="user-info">
					<span>Olá <%= session[:user].nome %>!</span><br/>
					<% if session[:last_login] %>
						<sub>Seu último acesso foi em: <%= session[:last_login].strftime("%d/%m/%Y às %H:%M") %></sub>
					<% end %>
					<br/>
					<hr/>					
					<%= link_to " Meu Perfil", edit_usuario_path(session[:user]), :class => "icon-user" %>
					|
					<%= link_to " Sair", sessions_path, method: :delete, :class => "icon-off" %>
				</div>
			<% end %>							
		</div>

		<div class="container body">		
			<% if flash[:notice] %>
				<%= flash[:notice] %>
			<% end %>
		
			<%= yield %>
		</div>

		<div class="container footer">
			<sub>&copy; 2012 - Gerente Financeiro Pessoal</sub>
		</div>
	</body>
</html>