<!DOCTYPE html>
<html>
	<head>
	  <title>GFP - Gerente Financeiro Pessoal</title>
	  <%= favicon_link_tag       "/images/favicon.ico" %>
	  <%= stylesheet_link_tag    "application", media: "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	</head>

	<body>
		<div class="container top">
			<div><%= link_to image_tag("/images/logo.png"), controller: "home" %></div>
			<div>
				<h1>GFP</h1>
				<h3 class="lead">Gerente Financeiro Pessoal</h3>
			</div>
			
			<% if session[:user] %>
				<div class="user-info">
					<span>Olá <%= session[:user].nome %>!</span><br/>
					<% if session[:last_login] %>
						<sub>Seu último acesso foi em: <%= session[:last_login].strftime("%d/%m/%Y às %H:%M") %></sub>
					<% end %>
					<br/>
					<hr/>					
					<%= link_to " Meu Perfil", profile_edit_path(session[:user]), class: "icon-user" %>
					|
					<%= link_to " Sair", sessions_path, method: :delete, class: "icon-off" %>
				</div>
			<% end %>							
		</div>

		<div class="container body">
			<% flash.each do |type, message| %>
				<% if flash[type] %>
					<div class="<%= flash_type(type) %>">
						<button class="close" data-dismiss="alert">&times;</button>
						<%= message %>
					</div>
				<% end %>
			<% end %>			
		
			<%= yield %>
		</div>

		<div class="container footer">
			<sub>Gerente Financeiro Pessoal - Copyright &copy; <%= Date.today.year %></sub>
		</div>
	</body>
</html>