<!DOCTYPE html>
<html>
	<head>
	  <title>GFP - Gerente Financeiro Pessoal</title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	</head>

	<body>
		<header>
			GFP
			<% if session[:user] %>
				Bem Vindo <%= session[:user].nome %> 
				<%= link_to "Perfil", edit_usuario_path(session[:user]) %>
				<%= link_to "Sair", sessions_path, confirm: "Deseja realmente encerrar esta sessão?", method: :delete %>
			<% end %>
		</header>

		<% if flash[:notice] %>
			<%= flash[:notice] %>
		<% end %>

		<%= yield %>

		<footer>
			<sub>Gerente Financeiro Pessoal</sub>
		</footer>
	</body>
</html>
